# Environments
backend/venv/
.env
backend/.env
frontend/.env

# Dependencies
node_modules/
frontend/node_modules/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
backend/__pycache__/

# Build/Dist
build/
dist/
frontend/build/

# IDEs
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
